name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  generate-build-test:
    runs-on: macos-latest

    steps:
      # -----------------------------
      # Checkout
      # -----------------------------
      - name: Checkout Code
        uses: actions/checkout@v4

      # -----------------------------
      # Homebrew Update
      # -----------------------------
      - name: Update Homebrew
        run: brew update

      # -----------------------------
      # Cache Tools
      # -----------------------------
      - name: Cache Tuist
        uses: actions/cache@v4
        with:
          path: ~/.tuist
          key: ${{ runner.os }}-tuist-3.6.0
          restore-keys: ${{ runner.os }}-tuist-

      - name: Cache SwiftGen
        uses: actions/cache@v4
        with:
          path: |
            ~/Library/Caches/Homebrew/swiftgen--*
            ~/Library/Caches/Homebrew/downloads/*--swiftgen-*
          key: ${{ runner.os }}-homebrew-swiftgen-6.8.0
          restore-keys: ${{ runner.os }}-homebrew-swiftgen-

      - name: Cache Sourcery
        uses: actions/cache@v4
        with:
          path: |
            ~/Library/Caches/Homebrew/sourcery--*
            ~/Library/Caches/Homebrew/downloads/*--sourcery-*
          key: ${{ runner.os }}-homebrew-sourcery-2.2.6
          restore-keys: ${{ runner.os }}-homebrew-sourcery-

      - name: Cache SwiftLint
        uses: actions/cache@v4
        with:
          path: |
            ~/Library/Caches/Homebrew/swiftlint--*
            ~/Library/Caches/Homebrew/downloads/*--swiftlint-*
          key: ${{ runner.os }}-homebrew-swiftlint-0.53.0
          restore-keys: ${{ runner.os }}-homebrew-swiftlint-

      # -----------------------------
      # Install Tools
      # -----------------------------
      - name: Install Tuist
        run: |
          echo "Installing Tuist 3.6.0..."
          TUIST_VERSION=3.6.0 curl -Ls https://install.tuist.io | bash
          echo "Tuist version: $(~/.tuist/bin/tuist version)"

      - name: Install Other Tools
        run: |
          brew install swiftgen@6.8.0 || brew upgrade swiftgen
          brew install sourcery@2.2.6 || brew upgrade sourcery
          brew install swiftlint@0.53.0 || brew upgrade swiftlint

      # -----------------------------
      # Run Lint, Generate, Build
      # -----------------------------
      - name: Run SwiftLint
        run: swiftlint lint --strict

      - name: Run Makefile for Build
        run: make build

      - name: Run Tests on iOS 18.3.1
        run: |
          xcodebuild clean test -workspace WrapKit.xcworkspace -scheme WrapKit -destination "platform=iOS Simulator,name=iPhone 16e,OS=18.3.1"
      - name: Run Tests on iOS 26.1
        run: |
          xcodebuild clean test -workspace WrapKit.xcworkspace -scheme WrapKit -destination "platform=iOS Simulator,name=iPhone 17 pro,OS=26.1"