name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  generate-build-test:
    runs-on: macos-latest

    steps:
      # -----------------------------
      # Checkout Code
      # -----------------------------
      - name: Checkout Code
        uses: actions/checkout@v4

      # -----------------------------
      # Cache Tools
      # -----------------------------
      - name: Cache Tuist
        uses: actions/cache@v4
        with:
          path: ~/.tuist
          key: ${{ runner.os }}-tuist-latest
          restore-keys: ${{ runner.os }}-tuist-

      - name: Cache SwiftGen
        uses: actions/cache@v4
        with:
          path: |
            ~/Library/Caches/Homebrew/swiftgen--*
            ~/Library/Caches/Homebrew/downloads/*--swiftgen-*
          key: ${{ runner.os }}-homebrew-swiftgen-latest
          restore-keys: ${{ runner.os }}-homebrew-swiftgen-

      - name: Cache Sourcery
        uses: actions/cache@v4
        with:
          path: |
            ~/Library/Caches/Homebrew/sourcery--*
            ~/Library/Caches/Homebrew/downloads/*--sourcery-*
          key: ${{ runner.os }}-homebrew-sourcery-2.2.6
          restore-keys: ${{ runner.os }}-homebrew-sourcery-

      - name: Cache SwiftLint
        uses: actions/cache@v4
        with:
          path: |
            ~/Library/Caches/Homebrew/swiftlint--*
            ~/Library/Caches/Homebrew/downloads/*--swiftlint-*
          key: ${{ runner.os }}-homebrew-swiftlint-latest
          restore-keys: ${{ runner.os }}-homebrew-swiftlint-

      # -----------------------------
      # Install Tools
      # -----------------------------
      - name: Install Tools
        run: |
          brew install sourcery@2.2.6
          brew install tuist
          brew install swiftgen
          brew install swiftlint

      # -----------------------------
      # Generate, Build
      # -----------------------------
      - name: Run Makefile for Build
        run: make build

      # -----------------------------
      # Ensure iOS Simulators
      # -----------------------------
      - name: Ensure iOS Simulators Are Installed
        run: |
          xcodebuild -downloadPlatform iOS
          xcrun simctl list runtimes

      # -----------------------------
      # Run Tests
      # -----------------------------
      - name: Run Tests on iOS 18.3.1
        run: |
          xcodebuild clean build test -workspace WrapKit.xcworkspace -scheme WrapKit -destination "platform=iOS Simulator,name=iPhone 16e,OS=18.3.1"
      - name: Run Tests on iOS 26.1
        run: |
          xcodebuild clean build test -workspace WrapKit.xcworkspace -scheme WrapKit -destination "platform=iOS Simulator,name=iPhone 17 pro,OS=26.1"